<div class="row">
  <h3 align='center'>viewing a list of existing demos</h3>
  <div class="col-md-1">

    <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>

    <%= image_tag("reb.png", class: "img-responsive") %>
    </div>



  </div>
  <div class="col-md-10">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading panel-heading-custom" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Samples.
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            <p>Here we present what is ready (and functional); ready to be cloned your way</p>
          </div>
        </div>
      </div>


    </div>
    <% @demos.each do |demo| %>
    <div class="demo">

  <%= link_to demo.name, demo_path(demo) %><br>
  <%= link_to demo_path(demo) do %>
    <%= image_tag(demo.dpic.url, alt: demo.name, class: 'img-thumbnail') if demo.dpic_stored? %>
    <% end %>
  <br>
   <p style="text-align:right" > <%= demo.description %> </p>
  <br>
  <p style="text-align:left" > <%= demo.b_amount %>_$ </p>
    </div>
    <hr><br>
    <% end %>
    <div class="panel panel-default">
      <div class="panel-heading panel-heading-custom" role="tab" id="headingTwo">
        <h4 class="panel-title">
          <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Open Requests
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <p>Get your idea made from scratch</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-1">
<a href="https://www.facebook.com/elfonweb/"><i class="fa fa-facebook"></i></a> |<%= link_to contacts_new_path do %> <i class="fa fa-envelope"></i><% end %>
  </div>
</div>
