<%= form_for @demo do |f| %>
<p><%= f.label :desktoppic %></br>
   <%= f.file_field :dpic %>
</p>
<p><%= f.label :mobilepic %></br>
   <%= f.file_field :mpic %>
</p>
<p><%= f.label :mobilelandscapepic %></br>
   <%= f.file_field :tpic %>
</p>
<p><%= f.label :tabletpic %></br>
   <%= f.file_field :r1pic %>
</p>
<p><%= f.label :tabletlandscapepic %></br>
   <%= f.file_field :r2pic %>
</p>
<p><%= f.label :name %></br>
   <%= f.text_field :name %>
</p>
<p><%= f.label :b_amount %></br>
   <%= f.text_field :b_amount %>
</p>
<p><%= f.label :description %></br>
   <%= f.text_field :description %>
</p>
<p><%= f.submit :value => "create demo", :class => 'btn' %>
</p>
<% end %>
