<%= form_for @demo do |f| %>
<p><%= f.label :dpic %></br>
   <%= f.file_field :dpic %>
</p>
<p><%= f.label :mpic %></br>
   <%= f.file_field :mpic %>
</p>
<p><%= f.label :tpic %></br>
   <%= f.file_field :tpic %>
</p>
<p><%= f.label :r1pic %></br>
   <%= f.file_field :r1pic %>
</p>
<p><%= f.label :r2pic %></br>
   <%= f.file_field :r2pic %>
</p>
<p><%= f.label :name %></br>
   <%= f.text_field :name %>
</p>
<p><%= f.label :b_amount %></br>
   <%= f.text_field :b_amount %>
</p>
<p><%= f.label :description %></br>
   <%= f.text_field :description %>
</p>
<p><%= f.submit :value => "create demo", :class => 'btn' %>
</p>
<% end %>
