<div class="row">
  <h3 align='center'>Project list</h3>
  <div class="col-md-1">
    <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
  </div>
</div>
  <div class="col-md-10">

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading panel-heading-custom" role="tab" id="headingFive">
                <h4 class="panel-title">
                  <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Ideas We Run
                  </a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                  <p>Because we love seeing our work at work</p>
                </div>
              </div>
            </div>
          </div>


  <% @projects.each do |project| %>
<div class="demo">
  <%= image_tag(project.pic1.url, alt: project.name, class: 'img-thumbnail') if project.pic1_stored? %>

<%= link_to project.name, project_path(project) %><br>

  <p style="text-align:right" ><%= project.description %></p>
  <br><hr><br>
</div>
  <% end %>

  </div>
  <div class="col-md-1">
<i class="fa fa-facebook fa-1x"></i> | <i class="fa fa-twitter fa-1x"></i> | <i class="fa fa-envelope fa-1x"></i>|
  </div>
</div>
