we are really new
<%= form_for @project do |f| %>
<p><%= f.label :pic1 %></br>
   <%= f.file_field :pic1 %>
</p>
<p><%= f.label :name %></br>
   <%= f.text_field :name %>
</p>
<p><%= f.label :description %></br>
   <%= f.text_field :description %>
</p>
<p><%= f.submit %>
</p>
<% end %>
