<div class="row">
  <div class="col-md-1">
    <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
  </div>
  </div>
  <div class="col-md-10">
<%= image_tag @project.pic1.thumb('400x200#').url if @project.pic1_stored? %>
<%= @project.name %>
<%= @project.description %>
</div>
<div class="col-md-1">
<i class="fa fa-facebook fa-1x"></i> | <i class="fa fa-twitter fa-1x"></i> | <i class="fa fa-envelope fa-1x"></i>|
</div>
</div>
