<div class="row">
  <h3 align='center'>Pricing list</h3>
  <div class="col-md-1">
    <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
  </div>
  </div>
  <div class="col-md-10">
    <table class="table">
      <tr><th>Component_name</th><th>Component_use</th><th>price</th></tr>
  <% @prices.each do |price| %>
<tr><td><%= link_to price.name, price_path(price) %></td><td><%= link_to price.description, price_path(price) %></td><td><%= price.b_amount %>$</td></tr>
  <% end %>
    </table>
  </div>
  <div class="col-md-1">
<a href="https://www.facebook.com/elfonweb/"><i class="fa fa-facebook"></i></a> |<%= link_to contacts_new_path do %> <i class="fa fa-envelope"></i><% end %>
  </div>
</div>
