<div class="row">
  <div class="col-md-1">
    <div class="contain">
    <%= image_tag("rails.png", class: "img-responsive") %>
    <%= image_tag("reb.png", class: "img-responsive") %>
  </div>
  </div>
  <div class="col-md-10">
<div class="price">
  <p class="bname"><%= @price.name %></p><br>
  <p class="bdescrp"><%= @price.description %></p><br>
<p class="bamount"><%= @price.b_amount %> $</p><br>
Suggested_for
  <%= simple_format(@price.indepth) %>
Features
  <%= simple_format(@price.features) %>
Please check <%= link_to demos_path do %>demo_page<% end %> for demo example (it is similar in pricing)
</div>
<div class="back">
<%= link_to 'Back', :back %>
</div>
</div>
<div class="col-md-1">
<a href="https://www.facebook.com/elfonweb/"><i class="fa fa-facebook"></i></a> |<%= link_to contacts_new_path do %> <i class="fa fa-envelope"></i><% end %>
</div>
</div>
