<!DOCTYPE html>
<html>
  <head>
    <title>Sitehakas</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>
  </head>
<header>
  <div class="row">

      <div class="menu">
        <nav class="navbar navbar-inverse ">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">SiteNuts</a>
   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav">
       <li ><%=link_to 'Home', root_path %></li>
       <li><%=link_to 'Our_Wiki', pages_blog_path %></li>
       <li><%=link_to 'Our_Philosophy', pages_our_thing_path %></li>
       <li><%=link_to 'Demo Page', demos_path %></li>
       <li><%=link_to 'Projects', projects_path %></li>
       <li><%=link_to 'Contact us', contacts_new_path  %></li>

     </ul>
     <ul class="nav navbar-nav navbar-right">
       <% if user_signed_in? %>
         <strong><%= current_user.email %></strong>.
         <%= link_to 'Edit profile', edit_user_registration_path, :class => 'button1' %> |
         <%= button_to "Logout", destroy_user_session_path, method: :delete, :class => 'button1'  %>
       <% else %>
         <%= link_to "Sign up", new_user_registration_path, :class => 'button1'  %> |
         <%= link_to "Login", new_user_session_path, :class => 'button1'  %>
       <% end %>
     </ul>
   </div>
 </div>
</nav>
</div>



  </div>
</header>
  <body>
  <main role="main">
<div class="container-fluid">
  <% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>
    <%= yield %>
</div>
  </main>
  </body>
</html>
