<!DOCTYPE html>
<html>
  <head>
    <title>webelfs</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
<script>
    $(function(){
        $('a').each(function(){
            if ($(this).prop('href') == window.location.href) {
                $(this).addClass('active'); $(this).parents('li').addClass('active');
            }
        });
    });
</script>

  </head>
<header>
  <div class="row">

      <div class="menu">
        <nav class="navbar navbar-custom " data-spy="affix" data-offset-top="50">
 <div class="container-fluid">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>

   </div>
   <div class="collapse navbar-collapse" id="myNavbar">
     <ul class="nav navbar-nav">
       <li><%=link_to 'Home', root_path %></li>
       <li><%=link_to 'Our_Wiki', pages_blog_path %></li>
       <li><%=link_to 'Our_Philosophy', pages_our_thing_path %></li>
       <li><%=link_to 'Demos', demos_path %></li>
       <li><%=link_to 'Pricing', prices_path %></li>
       <li><%=link_to 'Contact_us', contacts_new_path  %></li>

     </ul>
     <ul class="nav navbar-nav navbar-right">
    <a class="navbar-brand" href="#">webelfs</a>
     </ul>
   </div>
 </div>
</nav>
</div>



  </div>
</header>
  <body>
  <main role="main">
<div class="container-fluid">

<% if alert %>
  <p class="alert"><%= alert %></p>
<% end %>
    <%= yield %>
</div>
  </main>
  </body>
</html>
